@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Slab:wght@300&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  }

  body{
      color:#FFF;
      background-color: black;
  }

  /*  <!---------------------------------------  INICIA ESTILOS HEADER ---------------------------------------> */

  header{
       margin-bottom: 4rem;
  }

  header #drummer{
    font-size: 1.5rem;
  }

  header ul{
    font-size: 1.3rem;
  }

  header ul li a img{
    width: 2rem;
    height: 2rem;
  }

  header, .alert{
    z-index: 100;
  }

  /* <!---------------------------------------  FINALIZA ESTILOS HEADER ---------------------------------------> */

  /* <!---------------------------------------  INICIA ESTILOS PRODUCTOS ---------------------------------------> */

  .card{
    font-family: 'Roboto Slab', serif;
    color: black;
    margin-bottom: 2rem;
  }

  h2{
    font-family: 'Roboto Slab', serif;
    margin-bottom: 3rem;
    font-size: 5rem;
  }

  #productos{
    margin-top: 4rem;
  }

  h2:hover{
    transform: scale(1.10);
    cursor: pointer;
    transition: transform 2s;
  }


  /* <!---------------------------------------  FINALIZA ESTILOS PRODUCTOS ---------------------------------------> */

  /* <!---------------------------------------  INICIA ESTILOS CONTACTO ---------------------------------------> */

  #contacto{
    margin-top: 5rem;
  }

  textarea{
    height: 15.4rem;
  }

  .btn-light{
    margin-top: 1rem;

  }


  /* <!---------------------------------------  FINALIZA ESTILOS CONTACTO ---------------------------------------> */

  /* <!---------------------------------------  INICIA ESTILOS NOSOTROS ---------------------------------------> */

  #nosotros{
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
  }

  /* <!---------------------------------------  FINALIZA ESTILOS NOSOTROS ---------------------------------------> */

  /* <!---------------------------------------  INICIA ESTILOS CARRITO ---------------------------------------> */
  
  .imgSm{
    height: 8rem;
    width: 8rem;
  }

  .hide, .remove{
    display: none;
  }


  /* <!--------------------------------------- FINALIZA ESTILOS CARRITO ---------------------------------------> */

  /* <!---------------------------------------  INICIA FOOTER ---------------------------------------> */

    footer {
      margin-top: 5rem;
      padding: 1rem;
      bottom: 0px;
      font-size: 1.2rem;
    }
  
    footer p {
      text-align: center;
    }
  
    .footer-content {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
    }
  
    .footer-redes {
      display: flex;
    }
  
    .footer-redes li{
      list-style-type: none;
    }

  /* <!---------------------------------------  FINALIZA FOOTER ---------------------------------------> */


  @media screen and (max-width: 860px) {

    h2{
      font-size: 3.5rem;
    }

    header #drummer{
      font-size: 1rem;
    }

    iframe{
      width: 370px;
    }

    #contacto{
      flex-direction: column;
      flex-wrap: wrap;
    }

    #nosotros{
      flex-wrap: wrap;
      flex-direction: column;
    }

    .p-nosotros{
      width: 370px;
    }

    .card{
      margin-left: auto;
      margin-right: auto;
    }
    
  }
