@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto+Slab:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

*{
  font-family:'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  }

  html{
	
  }

    body{
      color:#FFF;
      background-color: black;
    }

   /*  <!---------------------------------------  INICIA HEADER ---------------------------------------> */

   header{
       margin-bottom: 4rem;
   }

    /* <!---------------------------------------  FINALIZA HEADER ---------------------------------------> */

    /* <!---------------------------------------  INICIA CONTENIDO PRINCIPAL ---------------------------------------> */

    .card{
      color: black;
    }

    /* <!---------------------------------------  FINALIZA CONTENIDO PRINCIPAL ---------------------------------------> */

    /* <!---------------------------------------  INICIA FOOTER ---------------------------------------> */

    footer h3{
        color: #FFF;
        padding-top: 4rem;
        padding-bottom: 1rem;
        text-align: center;
    }

    /* <!---------------------------------------  FINALIZA FOOTER ---------------------------------------> */

    
